
.service-page-title {
    text-align: center;
    font-size: 1.8em; /* Adjust the font size as needed */
    font-weight: bold;
    color: #DF0C2E;
    margin-top: 30px;
  }

.service-page-description {
    text-align: center;
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.service-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
  }
  
  .icon-button {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
  }
  
  .icon {
    margin: 1px;
    font-size: 25px;
  }

  .text {
    margin: 0px;
    font-size: 11px;
    font-family: 'Arial', sans-serif;
    text-transform: none;
    width: 90%;
    font-weight: 600;
  }

  