
  .moving-text-container {
    background-color: #FF9900;
    position: relative;
    height: 30px;
    width: 85%;overflow: hidden;
  }
  
  .moving-text {
    font-size: 15px;
    padding: 5px;
    white-space: nowrap;
    /*animation: moveText 30s linear infinite; /* Adjust the duration as needed */
    text-align: left;
    display: inline-block;
    padding-left: 30px;
    color: black;
  }
  
  @keyframes moveText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%); /* Move the text all the way to the left */
    }
  }

  .date-time-container {
    width: 200px;
    position: absolute;
    top: 0;
    right: 0px;
  }
  
  .date-time {
    background-color: white;
    color: black;
    position: absolute;
    height: 30px;
    overflow: hidden;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    white-space: nowrap;
    /*animation: moveText 30s linear infinite; /* Adjust the duration as needed */
    text-align: left;
  }
  
  .close-button {
    position: absolute;
    top: 0;
    right: 20px;
    padding-right: 8px;
    font-weight: 700;
    font-size: "200px";
  }