.heading-container{
    text-align: center;
    font-size: 1.8em; /* Adjust the font size as needed */
    font-weight: bold;
    color: #df0c2e;
  }

  .subheading {
    text-align: center;
    margin: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }